#main {
    overflow: hidden;
}
nav {
    color: black;
}

.logo {
    width: 100px;
    height: 34px;
    background-color: #0D28A6;
}

header {
    background-color: #F1F3FF;
    padding-top: 36px;
    padding-bottom: 36px;

}
.btn {
    background-color: #5CB85F;
    color: white;
    font-weight: bold;
}


a {
    color: black;


}

h2 {
    margin-bottom: 20px;
}

#car {
    background-color: #F1F3FF;
    padding-top: 60px;

}

#car .car-image {
    width: 100%;
    transform: translateX(20%);
}

@media screen and (min-width: 1024px) {
    #car .car-image {
        -webkit-transform: translateX(20%);
        transform: translateX(20%);
    }
}
#best-car {
    padding-top: 400px;
    padding-bottom: 200x;
}

.btn {
    background-color: #5CB85F;
    color: white;
    font-weight: bold;
}

ul {
    list-style-image: url('img/ceklis.png');

}

li {
    padding: 10px;
}

#why-us {
    padding-top: 200px;
    padding-bottom: 250x;
    margin-bottom: 15%;
}


.col {
    padding-right: 0px;
    padding-left: 30px;
    padding-bottom: 200px;
}

.icon {
    margin-bottom: 20px;
}
